*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:whitesmoke;
}

header{
    background-color: black;
    height: 230px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  
}


header figure{
    margin-left: 60px;
    width: 200px;
    height: 200px;
    overflow: hidden;

}


.disco figure{
    position: relative;
}

.disco figure .precio{
    border-radius: 0 30% 30% 0;
    position: absolute;
    top: 75px;
    width:50px;
    height: 40px;
    background-color: #F7CB34;
    text-align: left;
    /* z-index: 1; */
    font-size: 1.5em;
    color: black;
}


header figure img {
    display: block;
    width: 200px;
    height: 200px;
    filter: brightness(0) invert(1); /* Convierte negro a blanco */
}

ul {
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    list-style: none;
}


 li{

width: 200px;
margin: 12px;

}

li a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 2rem;

}

li a:hover{
    color:#C7BFC0;
    transition: 1s;
}

main{
    background-color:whitesmoke;
    height: 2000px;
    padding: 10px;
}


h1{
    height: 100px;
    padding: 10px;
   
    color: black;
    font-size: 3rem;
}

.container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    
}

.disco {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: white;
    padding: 15px;
    /* margin-bottom: 20px; */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(99, 96, 96, 0.9);
    width: 360px;
    background-color: black;
    border: 2px solid white;
}

.disco  figure{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 30%;
    background-color: black;
    border: 2px solid white;
    margin: 15px;
}

.disco img {
    display: block;
    width: 250px;
    height: 250px;
   
}

.disco h2, p{
    color: white;
}



@media (max-width: 768px){
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap ;
        align-items: center;
    }

    header figure{
        margin: 20px;
    }

    header{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
    }

    header ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 0;
        
        align-items: center;
    }

    header li{
        margin: 0;
        width: 120px;
    }

    header li a{
        font-size: 1rem;
    }

    header{
        height: auto;
    }
}